*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
h1{text-align: center;
    
}
.menu{
    width: 10%;
    background-color: rgb(83, 93, 102);
    position: fixed;
    justify-content: center;
    bottom: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    list-style: none;
    float: left;
}
